body
{
    background-color: 	#32CD32;
}

h1
{
    color: #FF0000;
    background-color: indigo;
}

#show_sketch
{
    float: right;
}

canvas
{
    border: 5px solid lightblue;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 2s;
    margin-top: 50px;
    animation-iteration-count: infinite;
}

@keyframes example
{
    from {box-shadow: 1px 1px 38px blue;}
    to {box-shadow: 1px, 1px, 38px orange;}
}

p
{
    padding-top: 10px;
    font-size: 25px;
}